absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
datasets==1.13.3
dill==0.3.4
filelock==3.4.1
frozenlist==1.2.0
fsspec==2022.1.0
gast==0.3.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==2.10.0
huggingface-hub==0.0.19
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
Keras-Preprocessing==1.1.2
Markdown==3.3.6
multidict==5.2.0
multiprocess==0.70.12.2
nltk==3.6.7
numpy==1.18.5
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandarallel==1.6.1
pandas==1.1.5
Pillow==8.4.0
pkg-resources==0.0.0
protobuf==3.19.4
psutil==5.9.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.17.0
rouge==1.0.1
rouge-score==0.0.4
rsa==4.8
sacremoses==0.0.49
scikit-learn==0.24.2
scipy==1.4.1
six==1.16.0
sklearn==0.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.8.1+cu101
torch-scatter==2.0.9
torchaudio==0.8.1
torchvision==0.9.1+cu101
tqdm==4.64.0
transformers==4.5.0
typing-extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
wrapt==1.14.0
xxhash==3.0.0
yarl==1.7.2
zipp==3.6.0
